/*
================================================================================================
        General
================================================================================================
*/

body {
    font-family: 'Arial', sans-serif;
    margin: 10;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.stat-block {
    width: 30%;
    display: inline-block;
    margin: 10px; 
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 15px;
}


/*
================================================================================================
        Header/Footer
================================================================================================
*/
header {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.footer-links {
    margin-top: 10px;
}

.footer-links a {
color: #fff;
margin: 0 10px;
text-decoration: none;
}



/*
================================================================================================
        Menu Buttons
================================================================================================
*/


.header-buttons {
    display: flex;
  }

.header-buttons button {
background-color: #004080;
color: white;
border: none;
border-radius: 5px;
padding: 10px;
margin-left: 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.header-buttons button:hover {
background-color: #00254c;
}


/*
================================================================================================
        Account Transaction Handle Stuff
================================================================================================
*/


.account-handle-container {
  position: relative;
  margin: 10px;
}


.account-handle-component {
  position: relative;
  margin: 10px;
}


.account-handle-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}


.account-handle-button {
  padding: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* .account-handle-button {
  position: absolute;
  bottom: 0;
} */


.account-handle-button:hover {
  background-color: #45a049;
}

.transaction {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

/*
================================================================================================
        Searchbar
================================================================================================
*/


.search-container {
    position: relative;
    margin: 10px;
  }
  

  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  

  .search-button {
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .search-button {
    position: absolute;
    right: 0;
  }
  

  .search-button:hover {
    background-color: #45a049;
  }