<html>
    <!dis is HTML5>
    <!HTML5 är en standard, inte ett krav, det är schysst dock för det har najs semantik>
    <!u can put jinja code in here xd>

    <head>
        <title>DABANK</title>
    </head>

    <body>
        <h1>DABANK</h1>
        <p>This is da bank</p>
    </body>

    <form action="https/formshow.systemmentor.se", method="post">
        <div class="form_group">
            <label>I have disease</label>
            <input type="radio">
            <input type="submit">

        </div>
    </form>

</html>