<html>

    <head>
        <title>DABANK</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/main.css"> -->
    </head>


    <body>

        <!--main stuff-->


        <header>

            <div class="mainheader">DABANK STATISTICS</div>

            <div class="dropdown">

                <button class="button" onclick="menuButtonClick()">Menu</button>

                <div class="dropdown-content">
                    <!-- Add your dropdown menu items here -->
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>

            </div>

        </header>


        <!-- <h1>Customers</h1>
        <ul>
            {% for customer in customers %}
                <li>{{ customer.id }}</li>
            {% endfor %}
        </ul> -->


        <section class="stat-block">
            <h2>Customers Registered</h2>
            <p>{{customercount}}</p>
        </section>


        <section class="stat-block">
            <h2>Accounts Registered</h2>
            <p>{{accountcount}}</p>
        </section>


        <section class="stat-block">
            <h2>Saldo Sum</h2>
            <p>{{saldosum}} SEK</p>
        </section>


        <!--images-->
        <!-- <img class="iq_image" src="../static/img/iq.png" alt="kronofogden iq">
        <img class="gpt_image" src="../static/img/chatgpt.png" alt="kronofogden chatgpt"> -->


        <!--Javascript-->
        <script src="../static/js/bank.js"> </script>

    </body>


    <footer>
        <p>&copy; 2024 Zippy Kronofogden Banksystems AB. All rights reserved.</p>
        <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    </footer>

</html>