<html>

    <head>
        <title>DABANK</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>


    <body>
        
        <!--main stuff-->
        <h1 class="mainheader"> DABANK </h1>
        <p> This is da bank, u have {{ dollars }} dollars</p>

        
        <!--images-->
        <img class="iq_image" src="../static/img/iq.png" alt="kronofogden iq">
        <img class="gpt_image" src="../static/img/chatgpt.png" alt="kronofogden chatgpt">

    </body>


    <!-- forms test
    <form action="https://github.com/sebastianmentor/Lektion4", method="post">
        <div class="form_group">
            <label>I have disease</label>
            <input type="radio">
            <input type="submit">
        </div>
    </form>
    -->

</html>