<html>

    <head>
        <title>DABANK</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>


    <body>
        
        <!--main stuff-->
        <h1 class="mainheader"> DABANK </h1>
        <p> This is da bank, u have {{ dollars }} dollars</p>

        
        <!--images-->
        <img class="iq_image" src="../static/img/iq.png" alt="kronofogden iq">
        <img class="gpt_image" src="../static/img/chatgpt.png" alt="kronofogden chatgpt">

    </body>


    <footer>
        <p>&copy; 2024 Zippy Kronofogden Banksystems AB. All rights reserved.</p>
        <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    </footer>

</html>