<html>

    <head>
        <title>ZipBank</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>


    <body>
        
        <header>
            <div class="mainheader">Welcome to ZipBank!</div>

            <div class="header-buttons">
                <button class="sidebutton" onclick="homeButtonClick()">Hem</button>
                <button class="sidebutton" onclick="kundbildButtonClick()">Kundbild</button>
                <button class="sidebutton" onclick="kundsearchButtonClick()">Kundsökning</button>
            </div>
        </header>

        <section class="stat-block">
            <h2>Kontoinfo</h2>
            <p>Kontonummer: {{info_kontonummer}}</p>
            <p>Saldo: {{info_saldo}} SEK</p>
        </section>

        <section class="stat-block">
            <h1>Transaktioner</h1>
            <ul>
                {% for transaction in info_transactions %}
                    <li>transaction.belopp</li>
                {% endfor %}
            </ul>
        </section>

        <!--Javascript-->
        <script src="../static/js/bank.js"> </script>

    </body>


    <footer>
        <p>&copy; 2024 Zippy Kronofogden Banksystems AB. All rights reserved.</p>
        <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    </footer>

</html>