<html>

    <head>
        <title>ZipBank</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>


    <body>
        
        <header>
            <div class="mainheader">Welcome to ZipBank!</div>

            <div class="header-buttons">
                <button class="sidebutton" onclick="homeButtonClick()">Hem</button>
                <button class="sidebutton" onclick="kundbildButtonClick()">Kundbild</button>
                <button class="sidebutton" onclick="kundsearchButtonClick()">Kundsökning</button>
            </div>
        </header>

        <section class="stat-block">
            <h1>Transaktioner</h1>

            {% for transaction in info_transactions|sort(attribute='timestamp', reverse=True) %}
                <div class="transaction">
                    {{ transaction.timestamp.strftime('%Y-%m-%d %H:%M:%S') }} - {{ transaction.type }} {{ "{:,}".format(transaction.belopp) }} SEK
                </div>
            {% endfor %}


            <form class="account-handle-container" action="/kontobild?id={{konto_id}}" method="post">
                <label for="belopp">Ny transaktion:</label>
                <input type="text" id="belopp" class="account-handle-input"name="belopp" placeholder="Belopp"  maxlength="10">

                <label for="transfer_accountnr">Mottagare:</label>
                <input type="text" id="transfer_accountnr" class="account-handle-input"name="transfer_accountnr" placeholder="0000 0000 0000 0000"  minlength="19" maxlength="19">

                <div class="account-handle-buttons">
                    <button type="submit" class="account-handle-button" name="transaction_type" value="insätt">Sätt in</button>
                    <button type="submit" class="account-handle-button" name="transaction_type" value="uttag">Ta ut</button>
                    <button type="submit" class="account-handle-button" name="transaction_type" value="överför">Överför</button>
                </div>

                <p>{{transaction_msg}}</p>
            </form>

        </section>

        <section class="stat-block">
            <h2>Kontoinfo</h2>
            <p>Kontonummer: {{info_kontonummer}}</p>
            <p>Saldo: {{info_saldo}} SEK</p>
        </section>


        <!--Javascript-->
        <script src="../static/js/bank.js"> </script>

    </body>


    <footer>
        <p>&copy; 2024 Zippy Kronofogden Banksystems AB. All rights reserved.</p>
        <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    </footer>

</html>