<html>

    <head>
        <title>DABANK</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>


    <body>
        <header class="mainheader"> DABANK KUNDBILD </header>

        <h1>Ta fram en kundbild genom kundnummer här</h1>

        <form action="/kundbild" method="post">
            <label for="kundid">Kund ID:</label>
            <input type="text" id="kundid" name="kundid" value="{{input_kundid}}">
        </form>

        
        <section class="stat-block">
            <h2>Kund Info</h2>
            <p>{{info_kundid}}</p>
        </section>
    </body>


    <footer>
        <p>&copy; 2024 Zippy Kronofogden Banksystems AB. All rights reserved.</p>
        <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    </footer>

</html>