<html>

    <head>
        <title>DABANK</title>
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/main.css"> -->
    </head>


    <body>

        <form action="/kundsokning" method="post">
            <input type="text" id="search-bar" name="search-bar" placeholder="Search..." value={{searchbarval}}>
            <button type="submit" id="search-button">Search</button>
        </form>

        <h1>{{search_h1}}</h1>

    </body>


    <footer>
        <p>&copy; 2024 Zippy Kronofogden Banksystems AB. All rights reserved.</p>
        <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    </footer>

</html>