<html>

    <head>
        <title>ZipBank</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>


    <body>
        <header>Login Page</header>

        <!-- <img src="../static/img/iq.png" alt="chatgpt image"> -->

        <h1>Fill in your login credentials below:</h1>
    </body>


    <form action="/login" method="post">

        <p class="errortext">{{errormsg}}</p>

        <!-- input fields for email and password -->
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <!-- submit button -->
        <button type="submit">Login</button>

    </form>
    

    <!-- <footer>
        <p>&copy; 2024 Zippy Kronofogden Banksystems AB. All rights reserved.</p>
        <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    </footer> -->

</html>