<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>

    <body>
        <header> DatAp0c@lyps3 Now Unleashed: Enter at Your Own Peril! </header>
        <p>
            Welcome 2 Kronofogden top secure bank system, where we're not just collecting ur info; we're feasting on it like a data-hungry monster! Prepare yourself for a wild ride through the chaotic world of our mind-bending data utilization policies.
        </p>


        <ol type="a">

            <li>
                <h3>P3r50n@l Inf0rm@ti0n:</h2>
                <p>When you sign up, we snatch up all ur juicy details - names, emails, contacts - the works! It's not just info; it's the fuel for our data-devouring machine.</p>
            </li>

            <li>
                <h3>Surveill@nce State 2.0:</h2>
                <p>Our surveillance game is top-notch. We're tracking ur every move, from IP addresses to browser quirks. Consider ur digital presence under constant scrutiny; it's a jungle out there, and we are the predators.</p>
            </li> 
        
        </ol>
        
    </body>

</html>